<html>
  <head>
    <link rel='shortcut icon' type='image/x-icon' href='Logo.ico'>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body class="body">
      <div>
        <form action="/controlPanel" method="post" id="form">

          <select id='Action' name='formIdentifier' form='form'>
            <option value='changeGame'>Change Game</option>
            <option value='changeScore'>Change Score</option>
            <option value='changeCharacter'>Change Character</option>
            <option value='changeBO'>Change Series Length</option>
          </select><br>

          <label>ID of current Game</label><br>
          <input type="number" name="gameID"></input><br>

          {% if currentGame != None %}
            <label>Player 1 score</label><br>
            <input type="number" name="p1Score" value="{{currentGame.score[0]}}"></input><br>

            <label>Player 2 score</label><br>
            <input type="number" name="p2Score" value="{{currentGame.score[1]}}"></input><br>
          {%else%}
            <label>Player 1 score</label><br>
            <input type="number" name="p1Score"></input><br>

            <label>Player 2 score</label><br>
            <input type="number" name="p2Score"></input><br>
          {%endif%}

          <label for="p1Char">Player 1 Character</label><br>
          <select id="main" name="p1Char" form="form">
            {% for character in characterList %}
              <option value={{ character }}>{{ character }}</option>
            {% endfor %}
          </select><br>

          <label for="p2Char">Player 2 Character</label><br>
          <select id="main" name="p2Char" form="form">
            {% for character in characterList %}
              <option value={{ character }}>{{ character }}</option>
            {% endfor %}
          </select><br>

          <label>Series length (Best of)</label><br>
          <input type="number" name="BO" value="{{currentGame.BO}}"></input><br>

          <input type="submit" value="Submit" class="buttons">

        </form>
      </div>

      {% if currentGame != None %}
        <div id="currentGame">
          <h2>Current Game</h2>
          <table>
            <th>GameID</th><th>Name</th><th>Character</th><th>Score</th>
            {% if currentGame.id|int != 0 %}
                <tr><td>{{currentGame.id}}</td>
            {% else %}
                <tr><td>No game selected</td>
            {% endif %}

            {% if currentGame.player1.name == "Null" %}
                <td></td>
            {% else %}
                <td>{{currentGame.player1.name}}</td>
            {% endif %}

            <td>{{currentGame.player1.currentChar}}</td>
            <td>{{currentGame.score[0]}}</td></tr>

            {% if currentGame.bestOf|int != 0 %}
                <tr><td>{{"BO" ~ currentGame.bestOf}}</td>
            {% else %}
                <td>BO</td>
            {% endif %}
            {% if currentGame.player2.name == "Null" %}
                <td></td>
            {% else %}
                <td>{{currentGame.player2.name}}</td>
            {% endif %}
            <td>{{currentGame.player2.currentChar}}</td>
            <td>{{currentGame.score[1]}}</td></tr>
          </table>
        </div>
      {% endif %}

      <div>
        <iframe src="{{ url_for('bracketPage') }}" id="bracket"></iframe>
      </div>
  </body>


</html>
