<html>
  <head>
    <link rel='shortcut icon' type='image/x-icon' href='Logo.ico'>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body class="body">
    <div>
        <ul>
            <li><button class="buttons" onclick="changeGame()" id="changeGame">Change Game</button></li>
            <li><button class="buttons" onclick="changeScore()" id="changeScore">Change Score</button></li>
            <li><button class="buttons" onclick="changeCharacter()" id="changeCharacter">Change Character</button></li>
            <li><button class="buttons" onclick="changeBestOf()" id="changeBestOf">Change Series Length</button></li>
        </ul>
    </div>
      <div style="position: fixed; top: 100px;">
        <form action="/controlPanel" method="post" id="form" >
          <select id='Action' name='formIdentifier' form='form' class="hidden">
            <option value='changeGame' id="formIdentifier"></option>
          </select><br>

          <label class="gameId hidden">ID of current Game</label><br class="gameId hidden">
          <input type="number" name="gameID" class="gameId hidden"><br class="gameId hidden">

          {% if currentGame != None %}
            <label class="p1score hidden">Player 1 score</label><br class="p1score hidden">
            <input type="number" name="p1Score" value="{{currentGame.score[0]}}" class="p1score hidden"><br class="p1score hidden">

            <label class="p2score hidden">Player 2 score</label><br class="p2score hidden">
            <input type="number" name="p2Score" value="{{currentGame.score[1]}}" class="p2score hidden"><br class="p2score hidden">
          {%else%}
            <label class="p1score hidden">Player 1 score</label><br class="p1score hidden">
            <input type="number" name="p1Score" class="p1score hidden"><br class="p1score hidden">

            <label class="p2score hidden">Player 2 score</label><br class="p2score hidden">
            <input type="number" name="p2Score" class="p2score hidden"><br class="p2score hidden">
          {%endif%}

          <label for="p1Char" class="character1 hidden">Player 1 Character</label><br class="character1 hidden">
          <select id="main" name="p1Char" form="form" class="character1 hidden">
            {% for character in characterList %}
              <option value={{ character }}>{{ character }}</option>
            {% endfor %}
          </select><br class="character1 hidden">

          <label for="p2Char" class="character2 hidden">Player 2 Character</label><br class="character2 hidden">
          <select id="main" name="p2Char" form="form" class="character2 hidden">
            {% for character in characterList %}
              <option value={{ character }}>{{ character }}</option>
            {% endfor %}
          </select><br class="character2 hidden">

          <label class="bestOf hidden">Series length (Best of)</label><br class="bestOf hidden">
          <input type="number" name="BO" value="{{currentGame.BO}}" class="bestOf hidden"><br class="bestOf hidden">

          <input type="submit" value="Submit" id='submitButton' class="buttons hidden">

        </form>
      </div>

      {% if currentGame != None %}
        <div id="currentGame">
          <h2>Current Game</h2>
          <table>
            <th>GameID</th><th>Name</th><th>Character</th><th>School</th><th>Score</th>
            {% if currentGame.id|int != 0 %}
                <tr><td>{{currentGame.id}}</td>
            {% else %}
                <tr><td>No game selected</td>
            {% endif %}

            {% if currentGame.player1.name == "Null" %}
                <td></td>
            {% else %}
                <td>{{currentGame.player1.name}}</td>
            {% endif %}

            <td>{{currentGame.player1.currentChar}}</td>
            <td>{{ currentGame.player1.school }}</td>
            <td>{{currentGame.score[0]}}</td></tr>

            {% if currentGame.bestOf|int != 0 %}
                <tr><td>{{"BO" ~ currentGame.bestOf}}</td>
            {% else %}
                <td>BO</td>
            {% endif %}
            {% if currentGame.player2.name == "Null" %}
                <td></td>
            {% else %}
                <td>{{currentGame.player2.name}}</td>
            {% endif %}
            <td>{{currentGame.player2.currentChar}}</td>
            <td>{{ currentGame.player2.school }}</td>
            <td>{{currentGame.score[1]}}</td></tr>
          </table>
        </div>
      {% endif %}

      <div>
        <iframe src="{{ url_for('bracketPage') }}" id="bracket"></iframe>
      </div>
  </body>


</html>
