<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>Interface</title>
        <link rel="stylesheet" href="styles.css">
        <link rel='shortcut icon' type='image/x-icon' href='Logo.ico'>
    </head>

    <!-- the following scripts are not just for /interface but also for all the sub-pages /setup, /controlPanel and /bracket, which are copied into a div on this main site, and as such need to be referenced on this site --!>

    <script>
        function hideAll() { //this function is for selecting all the possible inputs and submit buttons etc. that should be hidden by default
          var list = document.querySelectorAll('.gameId, .p1score, .p2score, .character1, .character2, .bestOf, .id, .name, .school, .seed, .main'); //this returns an array of all elements with those classes
          for(var i = 0; i < list.length; i++)
          {
              list[i].classList.add('hidden'); //iterates over those elements and adds the hidden clas to them, which, using css, makes them invisible
          }

          try { //these try catch's here are required because, based on the selected sub-page, some of these won't return any elements
              document.getElementById('changeGame').classList.remove('active'); //these remove active from all the elements, because by default they shouldn't be active
              document.getElementById('changeScore').classList.remove('active');
              document.getElementById('changeCharacter').classList.remove('active');
              document.getElementById('changeBestOf').classList.remove('active');
          } catch {}
          try {
              document.getElementById('addPlayer').classList.remove('active');
              document.getElementById('editPlayer').classList.remove('active');
              document.getElementById('removePlayer').classList.remove('active');
              document.getElementById('submitButton').classList.add('hidden');
          } catch {}
      }

        function clearActive() { //this function clears the active class from all the sub-page selector buttons
            document.getElementById('setup').className = 'buttons';
            document.getElementById('controlpanel').className = 'buttons';
            document.getElementById('backup').className = 'buttons';
        }

        function setSetupActive() { //the following three functions are called whenever one of the sub-page selector buttons are cliked
            clearActive(); //they reset the actives
            document.getElementById('setup').className = 'buttons active'; //this sets the clicked on button to active
            getPage('setup'); //this calls the getPage() function to show the /setup sub-page in the div where it's needed.
        }

        function setControlPanelActive() { //same as above, but different values
            clearActive();
            document.getElementById('controlpanel').className = 'buttons active';
            getPage('controlPanel');
            setTimeout(hideAll, 10);
        }

        function setBackupActive() {
            clearActive();
            document.getElementById('backup').className = 'buttons active';
            getPage('backup');
        }

        window.onload = hideAll();
    </script>

    <script>
        function getPage(pageName) { //this function is used to get the raw html of the requested sub-page.
            console.log('Getting ' + pageName.toString());
            var xhr = new XMLHttpRequest(); //an HTTP request is created

            xhr.open('GET', pageName); //the correct headers/methods are set for the request
            xhr.onreadystatechange = handler;
            xhr.responseType = 'document';
            xhr.send(); //the request is sent

            function handler() { //when the request is send and a response received
              if (this.readyState === this.DONE) {
                if (this.status === 200) {
                  var data = xhr.response;
                  data = new XMLSerializer().serializeToString(data); //the raw text
                    // (the HTML of the sub-page) result of the response is loaded into data
                  document.querySelector('#output-div').innerHTML = data; //this html is placed
                    // into the #output-div, which shows the sub-page within the interface page
                }
              }
            }
        }
    </script>

  <script>

      function addPlayer() { //the following scripts are called upon when a specific sub-page request is selected. These allow only the necessary inputs to be displayed to not confuse the user
          hideAll();
          var list = document.querySelectorAll('.name, .school, .seed, .main');
          for(var i = 0; i < list.length; i++)
          {
              list[i].classList.remove('hidden');
          }
          document.getElementById('formIdentifier').value = 'addForm';
          document.getElementById('addPlayer').classList.add('active');
          document.getElementById('submitButton').classList.remove('hidden');
      }

      function editPlayer() {
          hideAll();
          var list = document.querySelectorAll('.id, .name, .school, .seed, .main');
          for(var i = 0; i < list.length; i++)
          {
              list[i].classList.remove('hidden');
          }
          document.getElementById('formIdentifier').value = 'editForm';
          document.getElementById('editPlayer').classList.add('active');
          document.getElementById('submitButton').classList.remove('hidden');
      }

      function removePlayer() {
          hideAll();
          var list = document.querySelectorAll('.id');
          for(var i = 0; i < list.length; i++)
          {
              list[i].classList.remove('hidden');
          }
          document.getElementById('formIdentifier').value = 'deleteForm';
          document.getElementById('removePlayer').classList.add('active');
          document.getElementById('submitButton').classList.remove('hidden');
      }

      function changeGame() {
          hideAll();
          var list = document.querySelectorAll('.gameId');
          for(var i = 0; i < list.length; i++)
          {
              list[i].classList.remove('hidden');
          }
          document.getElementById('formIdentifier').value = 'changeGame';
          document.getElementById('changeGame').classList.add('active');
          document.getElementById('submitButton').classList.remove('hidden');
      }

      function changeScore() {
          hideAll();
          var list = document.querySelectorAll('.p1score, .p2score');
          for(var i = 0; i < list.length; i++)
          {
              list[i].classList.remove('hidden');
          }
          document.getElementById('formIdentifier').value = 'changeScore';
          document.getElementById('changeScore').classList.add('active');
          document.getElementById('submitButton').classList.remove('hidden');
      }

      function changeCharacter() {
          hideAll();
          var list = document.querySelectorAll('.character1, .character2');
          for(var i = 0; i < list.length; i++)
          {
              list[i].classList.remove('hidden');
          }
          document.getElementById('formIdentifier').value = 'changeCharacter';
          document.getElementById('changeCharacter').classList.add('active');
          document.getElementById('submitButton').classList.remove('hidden');
      }

      function changeBestOf() {
          hideAll();
          var list = document.querySelectorAll('.bestOf');
          for(var i = 0; i < list.length; i++)
          {
              list[i].classList.remove('hidden');
          }
          document.getElementById('formIdentifier').value = 'changeBO';
          document.getElementById('changeBestOf').classList.add('active');
          document.getElementById('submitButton').classList.remove('hidden');
      }
  </script>

    <body class="mainBod">
        <ul class="header">

            {% if active == 'setup' %}
                <li><button onclick='setSetupActive()'class="buttons active" id="setup">Setup</button></li>
                <script>getPage('setup');</script>
            {% else %}
                <li><button onclick='setSetupActive()'class="buttons" id="setup">Setup</button></li>
            {% endif %}

            {% if active == 'controlPanel' %}
                <li><button onclick='setControlPanelActive()' class="buttons active" id="controlpanel">Control Panel</button></li>
                <script>getPage('controlPanel');</script>
            {% else %}
                <li><button onclick='setControlPanelActive()' class="buttons" id="controlpanel">Control Panel</button></li>
            {% endif %}

            {% if active == 'backup' %}
                <li><button onclick='setBackupActive()'class="buttons active" id="backup">Backup</button></li>
                <script>getPage('backup');</script>
            {% else %}
                <li><button onclick='setBackupActive()'class="buttons" id="backup">Backup</button></li>
            {% endif %}

            {% if active == 'None' %}
            {% endif %}

            <li><form action='/logout'><button type="submit" class="buttons" id="logOut">Log Out</button></form></li>
        </ul>



        <div id="output-div"></div>
    </body>
</html>