<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="styles.css">
        <link rel='shortcut icon' type='image/x-icon' href='Logo.ico'>
    </head>

    <body>
        <div id="loginDiv">
            {% if flag == 'badPassword' %}
                <p style="color: white">Your previous attempt was unsuccessful, try again!</p>
            {% elif flag == 'Unknown' %}
                <p style="color: white">Please log in below</p>
            {% endif %}
            <form>
                <form action='/login' method="post" id="login" class='formSubmits'>
                    <input type="text" name="password" placeholder="Enter password here" autocomplete="off"><br><br>
                    <input type="submit" class="buttons" id="loginSubmit" formmethod="post">
            </form>
        </div>
    </body>
</html>