<html>

  <head>
    <link rel="stylesheet" href="styles.css">
    <link rel='shortcut icon' type='image/x-icon' href='Logo.ico'>
  </head>

  <body class="body">
      <div id="tableDiv">
        <table>
          <th>ID</th>
          <th>IGN</th>
          <th>Main</th>
          <th>School</th>
          <th>Seed</th>

        {% for player in playerList %}
        <tr>
          {% if player.id|int != 0 %}
            <td>{{player.id}}</td>
          {% else %}
            <td>No ID Yet</td>
          {% endif %}
          {% if player.name == "Null" %}
            <td></td>
          {% else %}
            <td>{{player.name}}</td>
          {% endif %}
          <td>{{player.defaultChar}}</td>
          <td>{{player.school}}</td>
          <td>{{player.seed}}</td>
        </tr>
        {% endfor %}
        </table>

      </div>

      <div>
        <ul>
            <li><button class="buttons" onclick="addPlayer()" id="addPlayer">Add Player</button></li>
            <li><button class="buttons" onclick="editPlayer()" id="editPlayer">Edit Player</button></li>
            <li><button class="buttons" onclick="removePlayer()" id="removePlayer">Remove Player</button></li>
        </ul>
    </div>

      <div id="inputs" style="position: fixed; top: 110px;">
        <form action="/setup" method="post" id="form">
          <select id='Action' name='formIdentifier' form='form' class="hidden">
            <option value='' class="hidden" id="formIdentifier"></option>
          </select>
          <label class="id hidden">ID</label><br class="id hidden">
          <input type="number" name="ID" class="id hidden"><br class="id hidden">

          <label class="name hidden">IGN</label><br class="name hidden">
          <input type="text" name="IGN" class="name hidden"><br class="name hidden">

          <label class="school hidden">School</label><br class="school hidden">
          <input type="text" name="school" class="school hidden"><br class="school hidden">

          <label class="seed hidden">Seed - leave empty if not seeded</label><br class="seed hidden">
          <input type="number" name="seed" class="seed hidden"><br class="seed hidden">

          <label for="main" class="main hidden">Main</label>
          <select id="main" name="main" form="form" class="main hidden">
            {% for character in characterList %}
              <option value={{ character }}>{{ character }}</option>
            {% endfor %}
          </select><br class="main hidden"">

          <input type="submit" value="Submit" class="buttons" id="submitButton">
        </form>
        <form action="/setup" method="post" id="makeSEBracket" class='formSubmits'>
            <input type='text' name='formIdentifier' value='makeSEBracketForm' class='hidden'>
            {% if playerList|length > 1 %}
                <input type="submit" value="Make Single Elimination Bracket" class='buttons'>
            {% else%}
                <input type="submit" value="Make Single Elimination Bracket" class='buttons hidden'>
            {% endif %}
        </form>
      </div>

      <div>
        <iframe src="{{ url_for('bracketPage') }}" id="bracket"></iframe>
      </div>
  </body>
</html>
