<html>

  <head>
    <link rel="stylesheet" href="styles.css">
    <link rel='shortcut icon' type='image/x-icon' href='Logo.ico'>
  </head>

  <body class="body">
      <div id="tableDiv">
        <table>
          <th>ID</th>
          <th>IGN</th>
          <th>Main</th>
          <th>School</th>
          <th>Seed</th>

        {% for player in playerList %}
        <tr>
          {% if player.id|int != 0 %}
            <td>{{player.id}}</td>
          {% else %}
            <td>No ID Yet</td>
          {% endif %}
          {% if player.name == "Null" %}
            <td></td>
          {% else %}
            <td>{{player.name}}</td>
          {% endif %}
          <td>{{player.defaultChar}}</td>
          <td>{{player.school}}</td>
          <td>{{player.seed}}</td>
        </tr>
        {% endfor %}
        </table>

      </div>

      <div id="inputs">
        <form action="/setup" method="post" id="form">

          <select id='Action' name='formIdentifier' form='form'>
            <option value='addForm'>Add Player</option>
            <option value='editForm'>Edit Player</option>
            <option value='deleteForm'>Delete Player</option>
          </select><br>
          <label>ID</label><br>
          <input type="number" name="ID"></input><br>

          <label>IGN</label><br>
          <input type="text" name="IGN"></input><br>

          <label>School</label><br>
          <input type="text" name="school"></input><br>

          <label>Seed - leave empty if not seeded</label><br>
          <input type="number" name="seed"></input><br>

          <label for="main">Main</label>
          <select id="main" name="main" form="form">
            {% for character in characterList %}
              <option value={{ character }}>{{ character }}</option>
            {% endfor %}
          </select><br>

          <input type="submit" value="Submit" class="buttons">
        </form>
        <form action="/setup" method="post" id="makeSEBracket" class='formSubmits'>
            <input type='text' name='formIdentifier' value='makeSEBracketForm' class='hidden'>
            <input type="submit" value="Make Single Elimination Bracket" class='buttons'>
        </form>
      </div>

      <div>
        <iframe src="{{ url_for('bracketPage') }}" id="bracket"></iframe>
      </div>
  </body>
</html>
